.home-wrap h2,
.section-header span,
.my-info .my-details,
.navbar ul li a::before,
.navbar ul li a.menu-active,
.section-header::first-letter,
.info .address .info-text span,
body.light .profile-details-content p,
body.light .project-details-content p,
body.light .navbar ul li a.menu-active {
    color: orange;
}

::-webkit-scrollbar-thumb,
.graduation-icon,
.portfolio-filter-menu li:hover,
.portfolio-filter-menu li.filter-active,
body.light .portfolio-filter-menu li:hover,
body.light .portfolio-filter-menu li.filter-active {
    background-color: orange;
}

.header .profile .profile-image {
    border: 8px solid orange;
}

.btn:hover {
    color: orange;
    border: 3px solid orange;
}